<!-- Begin Statistic Section -->
<hr size="8" width="100%" color="flamingo">
<div id="statistic" class="statistic image-section parallax" >
<!--	<div class="overlay solid-overlay"></div>-->
<!--	<div class="content-wrapper">-->
<!--		<div class="col-lg-10 col-lg-offset-1">-->
<!--			{% assign animationDelay = 0 %}-->
<!--            {% for statistic in site.statisticBlock %}-->
<!--            {% assign colWidth = 2 | divided_by: forloop.length %}-->
<!--&lt;!&ndash;            <div class="col-md-{{ colWidth }} col-xs-6">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="stat"><span class="timer" data-from="0" data-to="{{ statistic.count}}">{{ statistic.count}}</span>{{ statistic.specialCharacter}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="stat-info">{{ statistic.info}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;					<hr>&ndash;&gt;-->
<!--&lt;!&ndash;					<p class="small">{{ statistic.detail}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            {% assign animationDelay = animationDelay | plus:500 %}&ndash;&gt;-->
<!--&lt;!&ndash;            {% assign check = forloop.index | modulo:2 %}&ndash;&gt;-->
<!--&lt;!&ndash;            {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->
<!--		</div>-->
<!--	</div>-->
</div>
<!-- End Statistic Section -->