body{
  text-align: center;
  background: rgba(157, 161, 182, 0.5);
  font-family: sans-serif;
  font-weight: 100;
}

#clockdiv{
  font-family: sans-serif;
  color: #EDF1F3;
  font-weight: $bold;
  text-align: center;
  font-size: 50px;
  @media (min-width: 768px) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 768px) {
    display: block;
    margin-top: 20px;
  }
}

#clockdiv > div{
  padding: 20px;
  border-radius: 3px;
  background: rgba(157, 161, 182, 0.5);
  display: inline-block;
}

#clockdiv div > span{
  padding: 20px;
  border-radius: 3px;
  background: #003D4F;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
